@use "../variables";

* {
  box-sizing: border-box;
}
/* Reset de margin y padding que suelo utilizar. */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, body, 
dl, dd, ol, ul, 
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
}






