@use "variables";
footer {
    padding: 50px 10px;
    text-align: center;
    a {
        color: variables.$primary;
        &:hover {
            color: rgba(variables.$primary, .8);
        }
    }
}