@use "variables";

/* RESET*/

* {
  box-sizing: border-box;
}
/* Reset de margin y padding que suelo utilizar. */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, body, 
dl, dd, ol, ul, 
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
}
/* GLOBAL */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: variables.$font-family-content;
  background-color: variables.$dark_bg;
  color: #fff;
  
}
h1, h2, h3, h4, h5,
h6 {
  font-family: variables.$font-family-headings;
  letter-spacing: -1px;
  font-weight: 100;
}
p {
  line-height: 1.3rem;
  letter-spacing: 1px;
  margin: 15px 0;
  font-size: .8rem;
}

section {
  padding: 120px 10px;
}

.section-header__title {
  text-transform: uppercase;
}

section a {
  color: variables.$primary;
}

section a[target="_blank"]::after{
  content: " \2197";
  color: variables.$primary;
}
.dot {
  // color: variables.$primary;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: variables.$primary;
  margin-left: 2px;
  border-radius: 50%;
}

a.button {
  color: black;
  text-decoration: none;
  background-color: variables.$primary;
  display: inline-block;
  padding: 10px 20px;
  font-size: .8rem;
}

.inner-container {
  max-width: 1200px;
  margin: auto;
}