@use "sass:color";

$font-family-content: "Open Sans", sans-serif;
$font-family-headings: "Oswald", sans-serif;

$primary: #FFD700;
$seconday: #CFB53B;
$dark_bg: #070707;



// queryes
$mqMinWidthTablet: 768px;
$mqMinWidthDesktop: 1200px;
